.event{
    width: 100%;
    padding: 100px 0;
    box-sizing: border-box;
    .container{
        width: 1440PX;
        margin: 0 auto;
        h2{text-align: center;}
        .event-list{
            width: 1440px;
            overflow: hidden;
            display: flex;
            ul{
                list-style: none;
                padding: 0;
                display: flex;
                flex-wrap: wrap; 
                justify-content: space-between;
                li{
                    width: 32.5%;
                    margin-bottom: 80px;
                    span{
                        display: block;
                        cursor: pointer;
                    }
                    .ev-img{
                        img{
                            width: 100%
                        }
                    }
                    .ev-title{
                        margin-top: 10px;
                        font-size: 18px;
                    }
                    .ev-date{
                        font-size: 16px;
                        color: #333;
                    }
                }
            }
        }
    }
}