.InteriorSlide{
    padding-top: 80px;
    .mySwiper{
        width: 100%;
        height: 650px;
        .SwiperSlide{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}