ul,li{list-style: none; padding: 0;}
a{text-decoration: none; color: #333;}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    // margin: 20px 20px 0 20px; //오른쪽 이상함
    // border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    z-index: 1000;
    &.scrolled{
        margin: 0;
        background: #fff;
        box-shadow: 5px 5px 40px rgb(0,0,0,0.1);
        transition: .3s;
    }
    .container{
        padding: 0 2rem;
        box-sizing: border-box;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            a{
                img{ width: 100px;}
            }
        }
        .menuBar{
            display: flex;
            width: 27px;
            height: 15px;
            top: 26px;
            right: 20px;
            .menu-icon{
                color: black;
                font-size: 26px;}
            .close-menu{
                color: black;
                font-size: 26px;}
        }
    }
    .header-drop{
        display: none;
        width: 30%; 
        height: 100vh; 
        position: fixed; 
        top: 0; 
        background-color: rgba(255,255,255,0.4);
        backdrop-filter: blur(15px);
        z-index: 4;
        &.open{
            display: block;
        }
        >div{
            width: 100%;
            height: 100%;
            padding: 70px 50px 0 50px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .header-drop-menu-list{
                width: 100%; 
                .depth1{
                    width: 100%;
                    margin-top: 30px;
                    li{
                        padding: 10px 0;
                        &:hover{
                            text-decoration: underline;
                            color: darkgreen;
                        }
                        a{
                            font-size: 24px;
                        }
                    }
                }
            }
            .header-drop-menu-footer{
                margin-bottom: 30px;
                ul{
                    li{
                        padding-bottom: 10px;
                        a{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}



