/*드래그 색상 변경*/
::selection {
  background: #112B23;
  color: #fff;
}

/* 스크롤바 */
::-webkit-scrollbar{width: 0px;}  

body {
  margin: 0;
  font-family:'Ysabeau SC','REM','NanumSquareNeo', sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Lunasima', sans-serif;
}
