/*드래그 색상 변경*/
::selection {
  background: #112B23;
  color: #fff;
}

/* 스크롤바 */
::-webkit-scrollbar{width: 7px;}
::-webkit-scrollbar-track{background: #112B23}
::-webkit-scrollbar-thumb{background:lavender; border-radius: 10px;}

body {
  margin: 0;
}

