/*드래그 색상 변경*/
::selection {
  background: #112B23;
  color: #fff;
}

/* 스크롤바 */
::-webkit-scrollbar{width: 6px;}
::-webkit-scrollbar-track{background: #333}
::-webkit-scrollbar-thumb{background:lavender;}

body {
  margin: 0;
}

